{% if constant('DEBUG') %}
  <script src="{{ constant('URL') }}views/app/js/jdev.js"></script>
{% else %}
  <script src="{{ constant('URL') }}views/app/js/jquery.js"></script>
{% endif %}

<script src="{{ constant('URL') }}views/app/js/jquery.numeric.js"></script>
<script src="{{ constant('URL') }}views/app/js/jquery.js"></script>
<script src="{{ constant('URL') }}views/app/js/bootstrap.min.js"></script>
<script src="{{ constant('URL') }}views/app/js/control.js" type="text/javascript"></script>
<script src="{{ constant('URL') }}views/app/js/jquery.simplecolorpicker.js" type="text/javascript"></script>

{% if session[constant('SESS_APP_ID')] is not defined %}
  {# Incluimos las plantillas de login, registro y recuperar contraseña #}
  {% include 'overall/login' %}
  {% include 'overall/register' %}
  {% include 'overall/lostpass' %}

  {# Incluimos el javascript necesario #}
  <script src="{{ constant('URL') }}views/app/js/login.js" type="text/javascript"></script>
  <script src="{{ constant('URL') }}views/app/js/register.js" type="text/javascript"></script>
  <script src="{{ constant('URL') }}views/app/js/lostpass.js" type="text/javascript"></script>
{% endif %}
