<!DOCTYPE html>
<html lang="es">
  <head>
    <base href="{{ constant('URL') }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="kLogin" />
    <meta name="author" content="kLogin" />
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ constant('URL') }}views/app/css/framework.css">
    <link rel="stylesheet" type="text/css" href="{{ constant('URL') }}views/app/css/jquery.simplecolorpicker.css">
    <link rel="stylesheet" type="text/css" href="{{ constant('URL') }}views/app/css/jquery.simplecolorpicker-regularfont.css">
    <link rel="stylesheet" type="text/css" href="{{ constant('URL') }}views/app/css/jquery.simplecolorpicker-glyphicons.css">
    <link rel="stylesheet" type="text/css" href="{{ constant('URL') }}views/app/css/jquery.simplecolorpicker-fontawesome.css">
    <link rel="apple-touch-icon-precomposed" href="{{ constant('URL') }}views/app/views/app/images/apple-touch-icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ constant('URL') }}views/app/views/favicon.ico" />

    <title>{{ constant('APP') }}</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
