{% include 'overall/header' %}
  <body>
      {# Si la constante de sesión no está definida #}
      {% if session[constant('SESS_APP_ID')] is not defined %}
      {# Login de usuario y contraseña #}
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingreso</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registro</label>
    <div class="login-form">
      <div class="sign-in-htm">      
        <div id="login">
          <form role="form" enctype="application/x-www-form-urlencoded" id="login_form">
            <div class="group">
              <label for="user" class="label">Usuario</label>
              <input id="user" name="user" type="text" class="input" required=""/>
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" name="pass" type="password" class="input" data-type="password" required=""/>
            </div>
            <div id="ajax_login"></div>
            <div class="group">
              <button type="button" class="button" id="loginStep1">Entrar</button>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#lost_pass">Olvidaste tu contraseña?</a>
            </div>
          </form>
        </div>
        {# Autentifiacion auto #}
        <div id="auth1">
          <form role="form" enctype="application/x-www-form-urlencoded" id="auth_form1">
            <input type="hidden" name="userAuth1" id="userAuth1">
            <div class="group">
              <label for="npuertaAuth1" class="label">Puertas</label>
              <select name="npuertaAuth1" id="npuertaAuth1" class="input">
                <option>Seleccione</option>
                <option value="1">Dos puertas</option>
                <option value="2">Cuatro puertas</option>
              </select>
            </div>
            <table>
              <tr>
                <td width="30%"><label for="ventanasAuth1">Ventanas</label></td>
                <td width="10%">
                  <select name="ventanasAuth1" id="ventanasAuth1">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td width="22%"><label for="colorobjetoAuth1">Color</label></td>
                <td width="10%">
                  <select name="colorobjetoAuth1" id="colorobjetoAuth1">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td width="25%"><label for="ruedasAuth1">Ruedas</label></td>
                <td width="10%">
                  <select name="ruedasAuth1" id="ruedasAuth1">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table></br>
            <div class="group">
              <button type="button" class="button" id="authbtn1">Auntenticar</button>
            </div>
          </form>
          <div class="hr"></div>
          <div id="ajax_login21"></div>
          <div id="objetoAuth1" style="text-align: center;"></div> 
        </div>
        {# Autentifiacion casa #}
        <div id="auth2">
          <form role="form" enctype="application/x-www-form-urlencoded" id="auth_form2">
            <input type="hidden" name="userAuth1" id="userAuth2">
            <div class="group">
              <label for="npuertaAuth2" class="label">Pisos</label>
              <select name="npuertaAuth2" id="npuertaAuth2" class="input">
                <option>Seleccione</option>
                <option value="2">Dos pisos</option>
                <option value="3">Tres pisos</option>
                <option value="4">Cuatro pisos</option>
                <option value="5">Cinco pisos</option>
              </select>
            </div>
            <table>
              <tr>
                <td width="30%"><label for="ventanasAuth2">Ventanas</label></td>
                <td width="10%">
                  <select name="ventanasAuth2" id="ventanasAuth2">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td width="22%"><label for="colorobjetoAuth2">Color</label></td>
                <td width="10%">
                  <select name="colorobjetoAuth2" id="colorobjetoAuth2">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td width="25%"><label for="ruedasAuth2">Puerta</label></td>
                <td width="10%">
                  <select name="ruedasAuth2" id="ruedasAuth2">
                    {% for e in colores %}
                      <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table></br>
            <div class="group">
              <button type="button" class="button" id="authbtn2">Auntenticar</button>
            </div>
          </form>
          <div class="hr"></div>
          <div id="ajax_login22"></div></br>
          <div id="objetoAuth2" style="text-align: center;"></div>
        </div>
      </div>
        {# Registro basico #}
      <div class="sign-up-htm">
        <div id="registro">
          <form role="form" enctype="application/x-www-form-urlencoded" id="register_form">
            <div class="alert hide" id="ajax_register"></div>
            <div class="group">
              <label for="nombre" class="label">Nombre</label>
              <input id="nombre" name="nombre" type="text" class="input" required=""/>
            </div>
            <div class="group">
              <label for="email" class="label">Correo Electrónico</label>
              <input id="email" name="email" type="email" class="input" required=""/>
            </div>
            <div class="group">
              <label for="user" class="label">Usuario</label>
              <input id="user" name="user" type="text" class="input" required=""/>
            </div>
            <div class="group">
              <label for="pass" class="label">Contraseña</label>
              <input id="pass" name="pass" type="password" class="input" data-type="password" required=""/>
            </div>
            <div class="group">
              <button type="button" class="button" id="register">Siguiente</button>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">Ya tienes cuenta?</a>
            </div>
          </form>
        </div>
        {# Registro Autentifiacion #}
        <div id="registro2">
          <form role="form" enctype="application/x-www-form-urlencoded" id="regAuth">
            <div class="group">
              <label for="regObj" class="label">Objeto</label>
              <select id="regObj" name="regObj" class="input">
                <option value="1" selected="">Auto</option>
                <option value="2">Casa</option>
              </select>
            </div>
            <div id="auto">
              <div class="group">
              <label for="regVar11" class="label">Puertas</label>
              <select name="regVar11" id="regVar11" class="input">
                <option>Seleccione</option>
                <option value="1">Dos puertas</option>
                <option value="2">Cuatro puertas</option>
              </select>
              </div>
              <table>
                <tr>
                  <td width="30%"><label for="regVar21">Ventanas</label></td>
                  <td width="10%">
                    <select name="regVar21" id="regVar21">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td width="22%"><label for="regVar31">Color</label></td>
                  <td width="10%">
                    <select name="regVar31" id="regVar31">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td width="25%"><label for="regVar41">Ruedas</label></td>
                  <td width="10%">
                    <select name="regVar41" id="regVar41">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
              </table></br>
              <div class="group">
                <button type="button" class="button" id="regbtn1">Guardar</button>
              </div>
            </div>
            <div id="casa">
              <div class="group">
                <label for="regVar12" class="label">Pisos</label>
                <select name="regVar12" id="regVar12" class="input">
                  <option>Seleccione</option>
                  <option value="2">Dos pisos</option>
                  <option value="3">Tres pisos</option>
                  <option value="4">Cuatro pisos</option>
                  <option value="5">Cinco pisos</option>
                </select>
              </div>
              <table>
                <tr>
                  <td width="30%"><label for="regVar22">Ventanas</label></td>
                  <td width="10%">
                    <select name="regVar22" id="regVar22">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td width="22%"><label for="regVar32">Color</label></td>
                  <td width="10%">
                    <select name="regVar32" id="regVar32">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td width="25%"><label for="regVar42">Puerta</label></td>
                  <td width="10%">
                    <select name="regVar42" id="regVar42">
                      {% for e in colores %}
                        <option value="#{{ e.codcolor }}">{{ e.nombrecolor }}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
              </table></br>
              <div class="group">
                <button type="button" class="button" id="regbtn2">Guardar</button>
              </div>
            </div>
            <div class="alert hide" id="ajax_register2"></div>
            <div class="hr"></div>
            <div id="objetoReg" style="text-align: center;"></div>
          </form>  
        </div>
      </div>
    </div>
  </div>
</div>
      {# Pero si está definida #}
      {% else %}
        Bienvenido usuario de <b>id: {{ session[constant('SESS_APP_ID')] }}</b>, <a href="logout/">Salir</a>
      {% endif %}
    {% include 'overall/footer' %}
  </body>
</html>
